Repository hackclub/nest, pull requests merged in 2024-09, with the labels that each got.

#64 Direct to #nest for support in app home
  nest-bot/src/blocks/unapproved_home.ts
  nest-bot/src/blocks/unregistered_home.ts
Labels: Nest Bot

#75 Auto update website user count in showcase
  website/components/info.tsx
  website/components/showcase.tsx
  website/pages/api/userCount.ts
Labels: Website

#61 Move SSH keys to authorized_keys file editable using Nest Bot
  nest-bot/.prettierrc
  nest-bot/package-lock.json
  nest-bot/package.json
  nest-bot/prisma/migrations/20240830211819_add_pk/migration.sql
  nest-bot/prisma/migrations/migration_lock.toml
  nest-bot/src/actions/add_ssh_key.ts
  nest-bot/src/actions/approve.ts
  nest-bot/src/actions/delete_ssh_key.ts
  nest-bot/src/actions/edit_ssh_keys.ts
  nest-bot/src/actions/index.ts
  nest-bot/src/actions/register_user.ts
  nest-bot/src/blocks/approval_message.ts
  nest-bot/src/blocks/approved_home.ts
  nest-bot/src/blocks/new_ssh_key.ts
  nest-bot/src/blocks/register_form.ts
  nest-bot/src/blocks/shell_input.ts
  nest-bot/src/blocks/ssh_keys_view.ts
  nest-bot/src/blocks/unapproved_home.ts
  nest-bot/src/events/app_home_opened.ts
  nest-bot/src/os/get_shells.ts
  nest-bot/src/os/get_user_shell.ts
  nest-bot/src/os/os_functions.ts
  nest-bot/src/os/scripts/read_keys.sh
  nest-bot/src/os/scripts/set_keys.sh
  nest-bot/src/scripts/fill_pk.ts
  nest-bot/src/tests/test.ts
  nest-bot/src/util/get_shells.ts
  nest-bot/src/util/populate_users.ts
  nest-bot/src/util/ssh_edit_view_ids.ts
  nest-bot/src/views/edit_email.ts
  nest-bot/src/views/edit_full_name.ts
  nest-bot/src/views/edit_shell.ts
  nest-bot/src/views/index.ts
  nest-bot/src/views/new_ssh_key.ts
  nest-bot/src/views/register_user.ts
Labels: Nest Bot

#84 Add ascii and update runner
  cli/nest
  cli/utils.js
Labels: enhancement

#87 Cabinet
  cabinet/.gitignore
  cabinet/.prettierrc
  cabinet/.whitelist
  cabinet/bun.lockb
  cabinet/caddy_migrate.js
  cabinet/index.ts
  cabinet/package.json
  cabinet/prisma.ts
  cabinet/prisma/schema.prisma
  cabinet/tsconfig.json
  cabinet/types/express/index.d.ts
  cabinet/utils.ts
  cli/commands/caddy.js
  cli/index.js
  cli/package.json
  cli/utils.js
  cli/yarn.lock
Labels: Nest CLI

#85 Add back global metadata
  website/components/layout.tsx
Labels: Website

#86 Create migration script for ssh keys
  nest-bot/src/scripts/migrate_ssh_keys.ts
Labels: Nest Bot
